<html lang="de" class="no-webp">
    <head>
        <meta charset="utf-8" />
        <title>h.d.a.fg <%= city %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" sizes="16x16" href="/icon-16.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/icon-32.png" />
        <link rel="icon" type="image/png" sizes="48x48" href="/icon-48.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="/icon-96.png" />
        <link rel="icon" type="image/png" sizes="144x144" href="/icon-144.png" />
        <link rel="icon" type="image/png" sizes="192x192" href="/icon-192.png" />
        <link rel="icon" type="image/png" sizes="256x256" href="/icon-256.png" />
        <link rel="icon" type="image/png" sizes="384x384" href="/icon-384.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152.png" />
        <link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180.png" />
        <%- internalCss %>
        <script src="/modernizr-webp.js"></script>
        <link rel="stylesheet" href="/style-index.css" />
        <script src="/script.js" defer></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-image">
                    <a href="#">
                        <div class="logo-navbar"></div>
                    </a>
                </div>
                <div class="nav-item nav-item-start">
                    <a href="#">Start</a>
                </div>
                <div class="nav-item">
                    <a href="#hdafg">h.d.a.fg?</a>
                </div>
                <div class="nav-item">
                    <a href="#events">Events</a>
                </div>
                <div class="nav-item">
                    <a href="#kontakt">Kontakt</a>
                </div>
            </nav>
        </header>
        <div class="welcome-img"></div>
        <main>
            <div class="spacer-lr"></div>
            <div id="content-container">
                <div class="inner-content">
                    <div class="spacer-lr"></div>
                    <div>
                        <h3 id="hdafg">h.d.a.fg?</h3>
                        <h2>Haupt&shy;quar&shy;tier der ab&shy;strak&shy;ten Frei&shy;zeit&shy;ge&shy;stal&shy;tung</h2>
                        <% if (city === 'Marburg') { %>
                        <p>
                            Die erste Außenstelle des H.d.a.fg, in Marburg, ist nicht an einen festen Ort gebunden. Ob Kneipentour, Saufen, Kino oder Party, das H.d.a.fg macht Marburg zu seiner Bühne. Wir bieten hier Veranstaltungen für Studierende und Freunde. Werde jetzt Teil davon und schicke uns deine Anmeldung für das nächste Event noch heute.
                        </p>
                        <% } else { %>
                        <p>
                            Romantisch gelegen in <%= city %> liegt das bescheidene Hauptquartier der abstrakten
                            Freizeitgestaltung. Vor allem der kulturelle Aspekt des Konsumieres von Alkohol wird hier
                            gefördert und zelebriert. Mit Projektionsflächen im Innen- wie auch Außenbereich und einem
                            umfangreichen Eventangebot punktet die Location mit ihrer Vielseitigkeit und Flexibilität.
                            Sound- und Lightsystem auf höchstem technischem Niveau sind die Grundlage für wunderschöne
                            Lebensmomente und Begegnungen.
                        </p>
                        <% } %>
                    </div>
                    <div class="spacer-lr"></div>
                </div>
                <div class="seperator">
                    <div class="spacer-lr"></div>
                    <div>
                        <hr />
                    </div>
                    <div class="spacer-lr"></div>
                </div>
                <div class="inner-content">
                    <div class="spacer-lr"></div>
                    <div>
                        <h3 id="events">Events</h3>
                        <h2>Alle an&shy;ste&shy;hen&shy;den Events</h2>
                        <% const upcomingEventsDescription = upcomingEvents?.length > 0 ? 'Hier könnt ihr euch anmelden und Teil des Ganzen werden.' : 'Es gibt derzeit keine anstehenden Events. Bitte schau in ein paar Tagen erneut vorbei.' %>
                        <p><%= upcomingEventsDescription %></p>
                    </div>
                    <div class="spacer-lr"></div>
                </div>
                <div class="events-container">
                    <% upcomingEvents.forEach(event => { %>
                    <% const fullDateString = event.dateAsString + (event.dateAsString.split(' ')[1] ? ' Uhr' : '') %>
                    <% const dateString = fullDateString.split(' ')[0] %> 
                    <% const timeString = fullDateString.split(' ')[1] %>
                    <div class="event-div">
                        <div id="<%= event._id %>-photo-1" class="event-photo"></div>
                        <h4><%= event.displayName %></h4>
                        <p><strong><%= fullDateString %></strong><br /><%= event.description %></p>
                        <button
                            onclick="showModal('<%= event._id %>', '<%= event.displayName %>', '<%= dateString %>', '<%= timeString %>')"
                        >
                            Jetzt anmelden
                        </button>
                    </div>
                    <% }) %>
                </div>
                <div class="seperator">
                    <div class="spacer-lr"></div>
                    <div>
                        <hr />
                    </div>
                    <div class="spacer-lr"></div>
                </div>
                <div class="inner-content">
                    <div class="spacer-lr"></div>
                    <div>
                        <h3 id="kontakt">Kontakt</h3>
                        <h2>Social Media & E-Mail</h2>
                        <p>Erste Einblicke für dich und bei Fragen schreib mir:</p>
                        <p>
                            Instagram:
                            <a
                                class="link"
                                href="https://www.instagram.com/h.d.a.fg"
                                target="_blank"
                                rel="noopener noreferrer"
                                >@h.d.a.fg</a
                            ><br />
                            E-Mail: <a class="link" href="mailto:info@hdafg.de">info@hdafg.de</a>
                        </p>
                    </div>
                    <div class="spacer-lr"></div>
                </div>
            </div>
            <div class="spacer-lr"></div>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <div id="modal-content-img" class="modal-content-img"></div>
                    <div class="modal-content-right">
                        <span class="close" id="modal-close">&times</span>
                        <div class="text">
                            <h2 id="modal-h1-displayname"></h2>
                            <p id="modal-p">
                                <strong><span id="modal-span-displayname"></span></strong> fin&shy;det am
                                <strong><span id="modal-span-date"></span></strong
                                ><span id="modal-span-time"></span> statt. Bei An&shy;mel&shy;dung mit dem
                                For&shy;mu&shy;lar er&shy;hälst du in&shy;ner&shy;halb von 24 Stun&shy;den ei&shy;ne
                                Em&shy;pfangs&shy;be&shy;stä&shy;ti&shy;gung. Die An&shy;mel&shy;dung ist aber
                                <strong>nicht</strong> die Zu&shy;sa&shy;ge zum Event kom&shy;men zu dür&shy;fen. Die
                                Zu&shy;stim&shy;mung ob&shy;liegt dem Ver&shy;an&shy;stal&shy;ter und wird per WhatsApp
                                er&shy;teilt.
                            </p>
                        </div>
                        <div class="form-container">
                            <div class="form" id="form">
                                <div id="form-container-left" class="form-container-left">
                                    <label for="givenname">Vorname: <span class="required">*</span></label>
                                    <input type="text" name="givenname" id="givenname" maxlength="26" />
                                    <label for="surname">Nachname: <span class="required">*</span></label>
                                    <input type="text" name="surname" id="surname" maxlength="26" />
                                    <label for="phone">Telefonnummer: <span class="required">*</span></label>
                                    <input type="tel" name="phone" id="phone" maxlength="24" />
                                    <input type="hidden" name="eventid" id="eventid" value="none" />
                                </div>
                                <div id="form-container-right" class="form-container-right">
                                    <label for="remarks">Bemerkungen:</label>
                                    <textarea
                                        name="remarks"
                                        id="remarks"
                                        cols="40"
                                        rows="5"
                                        maxlength="200"
                                        placeholder="Bsp.: Ich möchte im h.d.a.fg übernachten..."
                                    ></textarea>
                                    <button id="submit" name="submit">Anmeldung senden</button>
                                </div>
                                <div id="text-container" class="text-container">
                                    <div id="text-container-left" class="text-container-left">
                                        <p>
                                            Ers&shy;te Ein&shy;bli&shy;cke fin&shy;dest du jetzt schon auf Instagram:
                                            <a
                                                class="link"
                                                href="https://www.instagram.com/h.d.a.fg"
                                                target="_blank"
                                                rel="noopener noreferrer"
                                                >@h.d.a.fg</a
                                            >
                                        </p>
                                        <p>Du kannst die&shy;ses Fen&shy;ster jetzt schlie&shy;ßen.</p>
                                        <button id="close-btn" class="button-close">Fenster schließen</button>
                                    </div>
                                    <div id="text-container-right" class="text-container-right">
                                        <div class="checkbox-img"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="alert" class="modal" style="display: none">
                <div class="modal-content">
                    <div class="modal-content-img">
                        <!--<image id="alert-img" src="" alt="" />-->
                    </div>
                    <div class="modal-content-right">
                        <span class="close" id="alert-close">&times</span>
                        <div class="text">
                            <h2 id="alert-hl"></h2>
                            <p id="alert-p"></p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>&copy; <%= new Date().getFullYear() %> - Hosted by Melvin Focke</footer>
    </body>
</html>
