<html lang="de" class="no-webp">
    <head>
        <meta charset="utf-8" />
        <title>h.d.a.fg</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" sizes="16x16" href="/icon-16.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/icon-32.png" />
        <link rel="icon" type="image/png" sizes="48x48" href="/icon-48.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="/icon-96.png" />
        <link rel="icon" type="image/png" sizes="144x144" href="/icon-144.png" />
        <link rel="icon" type="image/png" sizes="192x192" href="/icon-192.png" />
        <link rel="icon" type="image/png" sizes="256x256" href="/icon-256.png" />
        <link rel="icon" type="image/png" sizes="384x384" href="/icon-384.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152.png" />
        <link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180.png" />
        <%- internalCss %>
        <script src="/modernizr-webp.js"></script>
        <link rel="stylesheet" href="/style-list-all-cities.css" />
    </head>
    <body>
        <main>
            <div class="spacer-lr"></div>
            <div id="content-container">
            <div class="inner-content">
                <div class="spacer-lr"></div>
                <div>
                    <h3 id="cities">Ort</h3>
                    <h2>Welcher Ort darf's sein?</h2>
                    <p>Ich feiere in verschiedenen Orten. Wähle den Ort aus, für den du die Events sehen möchtest.</p>
                </div>
                <div class="spacer-lr"></div>
            </div>
            <div class="cities-container">
                <% nextEventArray.forEach((event) => { %>
                <% const fullDateString = event?.dateAsString + (event?.dateAsString?.split(' ')[1] ? ' Uhr' : '') %>
                <div class="city-div">
                    <div id="<%= event?.city?.toLowerCase() %>-photo-1" class="city-photo"></div>
                    <h4><%= event?.city %></h4>
                    <p><strong>Nächstes Event:</strong><br /><%= fullDateString !== 'undefined' ? fullDateString : 'keins' %><br /><br /><strong>Warum <%= event?.city %>?</strong><br /><%= event?.whyText %></p>
                    <button
                        onclick="location.href = '/<%= event?.city?.toLowerCase() %>'"
                    >
                        Zur Anmeldeseite
                    </button>
                </div>
                <% }) %>
            </div>
            <div class="spacer-lr"></div>
        </main>
        <footer>&copy; <%= new Date().getFullYear() %> - Hosted by Melvin Focke</footer>
    </body>
</html>
